<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; font-weight: bold;">
    <br><br>
    <div style="font-weight: bold; font-size: 40px">파이썬으로 배우는 인공지능 알고리즘</div>
    <div style="font-weight: bold; font-size: 20px">(8) 체육대회 팀을 짜보아요</div>
    <hr style="width:80%;text-align:left;margin-left:0;border:0.5px solid green">
    <br>
    &#x2022; K-means의 학습 원리를 이해할 수 있다.<br>
    &#x2022; K-means 알고리즘으로 데이터를 나눌 수 있다.<br>
    &#x2022; 군집 결과를 분석할 수 있다.<br>
    &#x2022; 의사 결정 트리의 학습 결과를 분석할 수 있다.<br>
</div>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>1. 군집과 분류가 무엇인가요?</h2>
</div>

### **(1) 군집과 분류**

표준국어대사전에 따르면 군집과 분류는 다음과 같은 의미를 가지고 있습니다.
- 군집(Clustering) : 사람이나 건물 따위가 한곳에 모임

- 분류(Classification) : 종류에 따라서 가름

위 두 낱말은 **무언가를 나누고 모은다**는 비슷한 의미를 가지고 있습니다.

그럼, 두 낱말의 의미상의 **차이점**은 무엇일까요?

**1. 군집**

아래에 총 6마리의 동물이 있습니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-01.png" width="750"></th>
    </tr>
<tr>
    <th>6마리의 동물</th>
</tr>
</table>

위 동물을 비슷한 **색깔**으로 묶어 볼까요?

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-02.png" width="750"></th>
    </tr>
<tr>
    <th>6마리의 동물(색깔에 따라 묶기)</th>
</tr>
</table>

이번엔 비슷한 **모양**으로 묶어 볼까요?

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-03.png" width="750"></th>
    </tr>
<tr>
    <th>6마리의 동물(모양에 따라 묶기)</th>
</tr>
</table>

**2. 분류**

이번에도 총 6마리의 동물이 있습니다. 그런데 아까와 다르게 사람이 꼬리표(Label)를 붙이고 있네요.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-04.gif" width="750"></th>
    </tr>
<tr>
    <th>6마리의 동물에 "꼬리표" 붙이기</th>
</tr>
</table>

위 동물을 꼬리표에 맞게 분류해볼까요?

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-05.png" width="750"></th>
    </tr>
<tr>
    <th>6마리의 동물(꼬리표에 따라 묶기)</th>
</tr>
</table>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ [문제1]</div>
    <br>
군집과 분류의 차이점을 적어봅시다.
</div>

 👉 
 👉

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>2. K-means 알고리즘의 원리 알기</h2>
</div>

### **(1) K-Means**

K-Means는 분류가 아닌, 군집화 방법 중 하나 입니다.

- K의 의미 : 몇 개의 군집으로 나눌 것인가

- means의 의미 : 우리가 평소 알고 있는 평균

'어제 5개의 초콜렛을, 오늘 3개의 초콜렛을 받았다면 평균적으로 하루에 4개의 초콜렛을 받은 것이다'에서의 그 평균이죠.

K-means는 각 군집의 평균(means)을 활용하여 K개의 군집으로 나눈다는 의미입니다.

**[군집이 필요한 사례]**

어느 도시에서 놀이터 2개를 건설하고자 합니다. 그래서 입지 조사를 하던 중 아래의 그림과 같이 아이들이 거주하고 있다는 정보를 얻게 되었습니다.

- 편의상 마을 아이들의 거리를 제외한 다른 요소(놀이터 활용 욕구, 건강 상태 등)는 모두 같다고 가정하겠습니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-06.png" width="750"></th>
    </tr>
<tr>
    <th>마을 지도</th>
</tr>
</table>

만약 다음과 같이 놀이터를 지으면 어떤 문제가 있을까요?

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-07.png" width="750"></th>
    </tr>
<tr>
    <th>마을 지도_놀이터 위치_오른쪽</th>
</tr>
</table>

위와 같이 놀이터를 지으면 멀리 떨어져있는 **『도영』**과 **『제니』**는 놀이터를 이용하기 어려울 거에요.

아이들이 모두 행복하게 놀이터를 이용할 수 있기 위한 장소를 찾을 때 K-means 알고리즘을 활용할 수 있어요.

### **(2) K-Means 알고리즘의 원리**

중심이란 각 군집의 중심에 위치한 점을 의미합니다. 

나누어야할 군집이 2개라면, 각 군집별로 중심이 하나씩 존재하기 때문에 총 2개의 군집이 생깁니다. K-means 알고리즘으로 군집화 하는 과정은 다음과 같습니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-08.png" width="750"></th>
    </tr>
<tr>
    <th>K-means 알고리즘의 군집화 과정</th>
</tr>
</table>

**군집화 과정 살펴보기**

위에서 놀이터의 위치를 군집화를 통해 정해봅시다.

**1. 초기 중심 설정**

**초기 중심**이란 각 군집의 중심이 되는 최초의 점을 말합니다. 초기 중심을 설정하는 방법은 다양하지만 이번에는 초기 중심을 무작위로 정하는 방식을 사용해보겠습니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-09.PNG" width="750"></th>
    </tr>
<tr>
    <th>마을 지도_초기 중심 설정</th>
</tr>
</table>

**2. 데이터를 군집에 배정**

다음 단계에서는 초기 중심과의 거리를 기준으로 데이터를 각 군집에 배정합니다. 

**『제니』**는 **『놀이터2』**에 가까우므로 **『놀이터2』**에 배정하면 되겠네요.

**『도영』**은 **『놀이터1』**와 4km 떨어져있습니다. **『놀이터2』**와 얼마나 떨어져있는지 알기 위해선 **피타고라스 정리**를 이용해야 합니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-10.gif" width="750"></th>
    </tr>
<tr>
    <th>마을 지도_피타고라스 정리</th>
</tr>
</table>

**『도영』**은 **『놀이터1』**에 더 가까우므로 P1에 배정하면 되겠네요.

**『채은』**, **『승호』**, **『현아』**, **『지윤』**도 같은 방법으로 배정한 후 다음의 단계를 진행합니다.

**3. 중심 재설정**

초기 중심은 임시 중심이므로, 아이들을 군집에 배정한 후, 각 군집의 중심을 다시 설정하는 것이 필요합니다. 각 군집에 속한 아이들의 중간 위치로 중심을 새롭게 설정하면 됩니다. 각 군집의 새로운 중심을 찾아봅시다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-11.gif" width="750"></th>
    </tr>
<tr>
    <th>마을 지도_군집 배정</th>
</tr>
</table>

**4. 군집이 변경되는 데이터가 없을 때까지 2와 3을 반복하기**

군집에 대한 변경이 있는지 확인합니다. 만약 군집에 대한 변경이 발생하면 2)와 3)의 작업을 반복합니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-12.gif" width="750"></th>
    </tr>
<tr>
    <th>마을 지도_2, 3단계 반복</th>
</tr>
</table>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>3. K-means 알고리즘 실습하기</h2>
</div>

체육시간에 팀별 경쟁활동을 하며 '밸붕(밸런스 붕괴)'을 겪었던 적이 있나요?

이때는 이기는 팀도, 지는 팀도 즐거움이 적기에 학생들의 신체능력을 고려하여 팀을 적절하게 구성하는 것이 필요합니다.

초, 중, 고등학교에서는 매년 의무적으로 학생들의 비만과 체력저하를 방지하기 위해 **PAPS(학생 건강 체력 평가 제도)** 를 실시하고 있습니다.

심폐지구력, 유연성, 근력 및 근지구력, 순발력, 체지방을 측정하는 이 PAPS 데이터를 활용하면 경쟁활동을 위한 균형있는 팀을 구성할 수 있을 것입니다.

K-means 알고리즘으로 학생들의 PAPS 데이터를 바탕으로 몇 개의 군집을 만들어봅시다.

**1. 데이터 살펴보기**

1-1) pandas의 별명(alias)을 pd로 하여 아래의 링크에 담겨있는 데이터를 표(DataFrame)으로 만들고 df 라는 변수에 넣어봅시다.

https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/PapsScore.csv

In [1]:
import pandas as pd
df = pd.read_csv("https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/PapsScore.csv")

1-2) head 함수와 tail 함수를 활용하면 일부 데이터를 확인할 수 있습니다.

In [2]:
# df의 앞 5행 살펴보기
df.head(5) #혹은 df.head()

  성별 이름  오래달리기  50M 달리기  윗몸말아올리기  앉아윗몸앞으로굽히기
0  남  A     80    10.46       68         3.5
1  남  B     80     9.23       30        -6.0
2  여  C     81     9.62       50        26.5
3  남  D     61    10.35       22         2.5
4  남  E     65     9.70       39         6.0

In [3]:
# df의 뒤 5행 살펴보기
df.tail(5) #혹은 df.tail()

   성별 이름  오래달리기  50M 달리기  윗몸말아올리기  앉아윗몸앞으로굽히기
18  여  T     70    11.10       42        20.0
19  여  U     32    10.40        6         6.5
20  남  V     36    11.69        8         4.5
21  남  W    100     8.76       67        19.5
22  여  X    105    10.11       43        11.5

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ [문제2]</div>
    <br>
이번에 사용하는 데이터는 실제 초등학교 학생의 PAPS 데이터를 가명처리하여 비식별화한 것입니다.<br>
    개인정보 비식별화가 필요한 이유는 무엇입니까?
</div>

 👉 
 👉

1-5) 데이터에 결측치가 없는지 확인해봅시다.

\# 위에서 head, tail 함수를 쓴 방법과 마찬가지로 isna 함수를 활용하면 결측치를 확인할 수 있습니다.

\# True는 결측치가 있다는 의미이며, False는 결측치가 없다는 의미입니다.

In [4]:
# 결측치 확인
df.isna()

       성별     이름  오래달리기  50M 달리기  윗몸말아올리기  앉아윗몸앞으로굽히기
0   False  False  False    False    False       False
1   False  False  False    False    False       False
2   False  False  False    False    False       False
3   False  False  False    False    False       False
4   False  False  False    False    False       False
5   False  False  False    False    False       False
6   False  False  False    False    False       False
7   False  False  False    False    False       False
8   False  False  False    False    False       False
9   False  False  False    False    False       False
10  False  False  False    False    False       False
11  False  False  False    False    False       False
12  False  False  False    False    False       False
13  False  False  False    False    False       False
14  False  False  False    False    False       False
15  False  False  False    False    False       False
16  False  False  False    False    False       False
17  False  False  False    False    False       False
18  False  False  False    False    False       False
19  False  False  False    False    False       False
20  False  False  False    False    False       False
21  False  False  False    False    False       False
22  False  False  False    False    False       False

1-6) describe 함수를 활용하면 "오래달리기"의 최대값(max)과 최소값(min)을 확인할 수 있습니다.

In [5]:
# 최솟값과 최댓값 확인
df.describe()

            오래달리기    50M 달리기    윗몸말아올리기  앉아윗몸앞으로굽히기
count   23.000000  23.000000  23.000000   23.000000
mean    72.391304  10.005217  38.739130    9.521739
std     27.828597   0.992375  22.903389   10.975674
min     32.000000   8.220000   6.000000   -6.000000
25%     49.000000   9.365000  19.500000    2.250000
50%     80.000000  10.110000  40.000000    7.500000
75%     84.000000  10.445000  55.000000   19.750000
max    131.000000  11.690000  91.000000   26.500000

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ [문제3]</div>
    <br>
오래 달리기"의 최대값과 "앉아윗몸앞으로굽히기"의 최대값은 각각 얼마인가요?
</div>

 👉 
 👉

**2. 데이터 스케일링하기**

"오래달리기"의 측정 단위는 **초** "앉아윗몸앞으로굽히기"의 측정 단위는 **cm**입니다.

측정 단위와 측정 범위(최대값과 최소값의 사이 간격)가 다를 때 우리는 데이터 스케일링을 통해 데이터 값의 크기를 조정합니다.

스케일링 방법 중 하나로 Min-Max 스케일링이 있습니다.

Min-Max 스케일링은 아래의 식을 통해 이루어집니다.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-08-13.png" width="750"></th>
    </tr>
<tr>
    <th>Min-Max 스케일링</th>
</tr>
</table>

결국 데이터값은 0~1 중 하나의 값이 되죠.

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ [문제4]</div>
    <br>
왕복 오래달리기"의 최소값과 최대값은 Min-Max 스케일링 이후 각각 어떤 숫자가 됩니까?
</div>

 👉 
 👉

다음의 명령어는 다음을 실행하게 됩니다.

(1) sklearn 라이브러리의 preprocessing 모듈에서 MinMaxScaler 함수를 불러옵니다.

(2) MinMaxScaler 객체를 생성하고 scaler 변수에 넣습니다.

(3) "오래달리기"의 값을 Min-Max Scaling을 통해 0~1사이의 값으로 변환합니다.

In [6]:
# 오래달리기 값을 스케일링하고 스케일링 된 값 살펴보기
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df["오래달리기"] = scaler.fit_transform(df[["오래달리기"]])

df["오래달리기"]

0     0.484848
1     0.484848
2     0.494949
3     0.292929
4     0.333333
5     0.484848
6     0.242424
7     0.151515
8     0.555556
9     1.000000
10    0.020202
11    0.111111
12    0.191919
13    0.111111
14    0.959596
15    0.494949
16    0.626263
17    0.494949
18    0.383838
19    0.000000
20    0.040404
21    0.686869
22    0.737374
Name: 오래달리기, dtype: float64

In [7]:
# 다른 종목 스케일링

df["50M 달리기"] = scaler.fit_transform(df[["50M 달리기"]])
df["앉아윗몸앞으로굽히기"] = scaler.fit_transform(df[["앉아윗몸앞으로굽히기"]])
df["윗몸말아올리기"] = scaler.fit_transform(df[["윗몸말아올리기"]])

**3. 데이터 조정하기**

다른 종목과 달리 값이 크면 클 수록 체력이 낮다는 것을 보여주는 종목이 있습니다.

바로 **50M 달리기**입니다.

In [10]:
# 1->0, 0-> 1로 데이터 조정
df["50M 달리기"] = 1 - df["50M 달리기"]
df["50M 달리기"]

0     0.645533
1     0.291066
2     0.403458
3     0.613833
4     0.426513
5     0.095101
6     0.636888
7     1.000000
8     0.371758
9     0.000000
10    0.628242
11    0.841499
12    0.579251
13    0.884726
14    0.515850
15    0.270893
16    0.368876
17    0.100865
18    0.829971
19    0.628242
20    1.000000
21    0.155620
22    0.544669
Name: 50M 달리기, dtype: float64

**4. K-Means 알고리즘으로 군집화하기**

K-Means 알고리즘으로 군집화하는 과정은 아래와 같습니다.

-  sklearn 라이브러리의 cluster 모듈에서 KMeans 함수를 불러옵니다.

- 군집화 방법 중 KMeans를 활용해 2개의 군집으로 분류하겠다는 것을 선언하고 kmeans 변수에 넣습니다.

- "오래달리기"의 값을 바탕으로 2개의 군집으로 분류하고 cluster 변수에 넣습니다.

- 열을 기준(axis=1)으로 하여 학생 이름과 군집화된 값을 합쳐 하나의 표로 만듭니다.

In [11]:
# 오래달리기 기록을 기준으로 2개의 그룹으로 군집화

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2)
cluster = kmeans.fit(df[["오래달리기"]])
pd.concat([df[["이름"]], pd.DataFrame(cluster.labels_)], axis=1)

   이름  0
0   A  0
1   B  0
2   C  0
3   D  1
4   E  1
5   F  0
6   G  1
7   I  1
8   J  0
9   K  0
10  L  1
11  M  1
12  N  1
13  O  1
14  P  0
15  Q  0
16  R  0
17  S  0
18  T  1
19  U  1
20  V  1
21  W  0
22  X  0

In [12]:
# 모든 종목의 기록을 기준으로 6개의 그룹으로 군집화

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=6)
cluster = kmeans.fit(df[["50M 달리기", "앉아윗몸앞으로굽히기", "오래달리기", "윗몸말아올리기"]])
pd.concat([df["이름"], pd.DataFrame(cluster.labels_)], axis=1)

   이름  0
0   A  2
1   B  2
2   C  0
3   D  1
4   E  2
5   F  5
6   G  1
7   I  4
8   J  0
9   K  5
10  L  1
11  M  1
12  N  1
13  O  4
14  P  3
15  Q  0
16  R  0
17  S  0
18  T  4
19  U  1
20  V  1
21  W  0
22  X  2